html {
	height: 100%;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(black, #93d7ff);
	color: #007bff;
	margin: 0 auto;
}

section {

	position: absolute;
	top: 15%;
	left: 50%;
}


footer {
	background: #111;
	color: #007bff;
	font-family: Quicksand;
	bottom: 5%;
	position: absolute;

}

header {
	background:none;
	color: #007bff;
	font-family: Quicksand;
	font-weight: 500;
	font-size: 14px;
	padding: 15px 15px 0 15px;
}

header h1 {
	color: #007bff;
	font-size: 32px;
	font-weight: 500;
	margin-left: 5%;
	float: left;
}

section h2 {
	font-family: sans-serif;
	font-style: italic;
	color: white;
}

section {
	font-family: sans-serif;
	color: white;
	right: 25%;
	left: 10%;
	top: 15%;
}

header nav {
	float: right;
	margin-right: 10%;
	font-family: Quicksand Bold;
	font-size: 14px;
	opacity: 1;
}

nav ul {
	background: none;
	margin: 0;


}

nav ul li {
	background: none;
	color: #007bff;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}


.secondary {
	background: #222;
	color: #007bff;
}

.avoidHeader {
	position: absolute;
	top: 50%;
}

.button {
	background-color: none;
	transform: translate(0,0px);
	transition: transform 250ms ease-in-out;

}

.button a:hover {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.button:hover {
	transform: translate(0,-5px);
}

.button a {
	position: relative;
	text-decoration: none;
}

.button a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX();
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.button a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX();
}

@font-face {
	font-family: 'Quicksand';
	src: url(Fonts/Quicksand_Book.otf);
	font-style: normal;
	font-weight: 100;

}

@font-face {
	font-family: 'Quicksand Bold';
	src: url(Fonts/Quicksand_Bold.otf);
	font-style: normal;
	font-weight: 600;

}


.view
